<!doctype html>
<html lang="ja">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>Vue.js</title>

<script src="files/js/vue.js"></script>
<script src="files/js/script.js"></script>

</head>

<body id="index">

<section id="app">

<input type="text" v-model="name" id="name" name="name">

<div>
	<p>{{ name }}</p>
	<ul>
  		<li v-for="friend in friends"> {{ friend.name }} is {{ friend.age }} years old.</li>
  	</ul>
</div>

</section>

</body>
</html>
